@{
    ViewBag.Title = "Home Page";
}


<table border="0" style="width:100%;">
    <tr>
        <td align="center">
            <table border="0" style="width:90%;">
                <tr>
                    <td>
                        <h4 style="font-size: 24px;padding-top: 4px;color:navy;">
                            <strong>@ViewBag.Message</strong>

                        </h4>
                        <div style="height:15px; ">
                            &nbsp;
                        </div>
                        <p style="font-size: 14px;padding-top: 1px;">
                            <strong>Generate Single Page Application - in Minutes</strong>
                            <div style="height:9px; ">
                                &nbsp;
                            </div>
                            Generates a modern business Rich Internet web app instantly, directly from your database.
                            <div style="height:6px; ">
                                &nbsp;
                            </div>
                            Has all necessary functionality, for a database application (eg CRUD).
                            <div style="height:6px; ">
                                &nbsp;
                            </div>
                            Automatically resizes to adapt to any device, including smart phones.
                            <div style="height:6px; ">
                                &nbsp;
                            </div>
                            Generates all the necessary ASP.NET MVC, C#, jQuery and bootstrap code.
                            Does not use AngularJS or any other javascript frameworks.
                            <div style="height:6px; ">
                                &nbsp;
                            </div>
                            Builds a project automatically, which can be opened in Visual Studio.
                            <div style="height:6px; ">
                                &nbsp;
                            </div>
                            Multi layered master/child menu navigation web application, with no page refresh.
                            <div style="height:6px; ">
                                &nbsp;
                            </div>
                            Instantly search and drill down multiple tables in a database.
                            <div style="height:6px; ">
                                &nbsp;
                            </div>
                            The final solution, has 2 libraries being used (NPOI(excel) and iTextPdf)
                            <div style="height:29px; ">
                                &nbsp;
                            </div>

                            Contact:-   Kalvin Ernst:  <a href="mailto:kalvinlernst@gmail.com" target="_blank">kalvinlernst@gmail.com</a>
                            <br /><br />

                        </p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>


<div id="AboutGoTo" style="color:yellow;display: block;height:1px;">
    &nbsp;
</div>



<div style="font-size: 1px;color: white;height: 1px;" class="device-xs visible-xs">.</div>
<div style="font-size: 1px;color: white;height: 1px;" class="device-sm visible-sm">.</div>
<div style="font-size: 1px;color: white;height: 1px;" class="device-md visible-md">.</div>
<div style="font-size: 1px;color: white;height: 1px;" class="device-lg visible-lg">.</div>


<script type="text/javascript">

    function isBreakpointGet(alias) {
        return $('.device-' + alias).is(':visible');
    }

</script>



