@{
    ViewBag.Title = "Home Page";
}

<div class="hidden-xs hidden-sm hidden-md visible-lg" style="height:10px;">
    &nbsp;
</div>
<div class="hidden-xs hidden-sm visible-md hidden-lg" style="height:110px;">
    &nbsp;
</div>
<div class="hidden-xs visible-sm hidden-md hidden-lg" style="height:120px;">
    &nbsp;
</div>
<div class="visible-xs hidden-sm hidden-md hidden-lg" style="height:10px;">
    &nbsp;
</div>

<table border="0" style="width:100%;">
    <tr>
        <td align="center">
            <h4 style="color:navy;">
                <strong>@ViewBag.Message</strong>

            </h4>
        </td>
    </tr>
</table>

<table border="0" style="width:100%;">
    <tr>
        <td align="center">
            <table border="0" style="width:100%;">
                <tr>
                    <td align="center">

                        <table>
                            <tr>
                                <td align="left">
                                    <div style="font-size: 13px;padding-top: 10px;padding-left:8px;padding-right:8px;">
                                        A new SPA Table Grid has been instantly created, with all pretested code.
                                        <br />
                                        <div style="font-size:15px;">
                                            <strong>Please Exit browser, Reload Solution and Test with F5 again.</strong>
                                        </div>
                                       
                                        <div style="height:18px;">
                                            &nbsp;
                                        </div>
                                        1.  Has Generated a modern business web app instantly, directly from your database.
                                        <div style="height:4px;">
                                            &nbsp;
                                        </div>
                                        2.  Has all necessary functionality, for a database application (eg CRUD).
                                        <div style="height:4px;">
                                            &nbsp;
                                        </div>
                                        3.  Automatically resizes to adapt to any device, including smart phones.
                                        <div style="height:4px;">
                                            &nbsp;
                                        </div>
                                        4.  Generates all the necessary ASP.NET MVC, C#, jQuery and bootstrap code.<br />
                                        Does not use React, AngularJS or any other javascript frameworks.
                                        <div style="height:4px;">
                                            &nbsp;
                                        </div>
                                        5.  Multi layered master/child menu navigation web application, with no page refresh.
                                        <div style="height:4px;">
                                            &nbsp;
                                        </div>
                                        6.  An invaluable tool in redeveloping and fast tracking conversion of
                                        old legacy <br />applications written in Access, Spreadsheets, and other
                                        obsolete software.
                                        <div style="height:4px;">
                                            &nbsp;
                                        </div>
                                        7. The final solution, has no propreitry DLLs or libraries, or being
                                        locked into a design IDE.
                                        <div style="height:16px;">
                                            &nbsp;
                                        </div>

                                        Contact:-   Kalvin Ernst:  <a href="mailto:kalvinlernst@gmail.com" target="_blank">kalvinlernst@gmail.com</a>
                                        <br />
                                    </div>

                                </td>
                            </tr>
                        </table>
                  

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>




<div style="font-size: 1px;color: white;height: 1px;" class="device-xs visible-xs">.</div>
<div style="font-size: 1px;color: white;height: 1px;" class="device-sm visible-sm">.</div>
<div style="font-size: 1px;color: white;height: 1px;" class="device-md visible-md">.</div>
<div style="font-size: 1px;color: white;height: 1px;" class="device-lg visible-lg">.</div>


<script type="text/javascript">

    function isBreakpointGet(alias) {
        return $('.device-' + alias).is(':visible');
    }

</script>


