
/* ajax modal dialog styles */
.modalBackground {
	background-color: Gray;
                 zoom:1;
                 width:100%; height:100%;
	filter: alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity: 0.50; 
}
.modalBox {
	background-color : #f5f5f5;
	border-width: 3px;
	border-style: solid;
	border-color: Blue;
	padding: 3px;
}
.modalBox caption {
	background-image: url(images/window_titlebg.gif);
	background-repeat:repeat-x;
}

 .modalBackground2
        {
	        background-color: gray;
	        filter:alpha(opacity=40);
	         -moz-opacity: 0.40;   
	        opacity: 0.40;
            z-index: 900;
        }

.modalBackground7 {
    background-color: gray;
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
    opacity: 0.70;
    z-index: 900;
}

 .modalBackground2NEW
{
	z-index: 10000;
	filter: alpha(opacity=50); /*older IE*/
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
	-moz-opacity: .50; /*older Mozilla*/
	-khtml-opacity: 0.5;   /*older Safari*/
	opacity: 0.5;   /*supported by current Mozilla, Safari, and Opera*/
	background-color:#000000;
	position:fixed; top:0px; left:0px; width:100%; height:400px; color:#FFFFFF; text-align:center; vertical-align:middle;
}

 

        .updateProgress
        {
            border-width:1px; 
            border-style:solid; 
            background-color:#FFFFFF; 
            width:150px; 
            height:50px;    
        }
        
        .updateProgress2
        {
            border-width:1px; 
            border-style:solid; 
            background-color: #FFFFCC; 
            width:150px; 
            height:50px;    
        }
        .updateProgress2new
        {
            border-width:0px; 
            border-style:solid; 
            background-color: white; 
            width:150px; 
            height:50px;  
        }
        
        .updateProgress2Blank
        {
            border-width:0px; 
            border-style:solid; 
            background-color: transparent; 
            width:150px; 
            height:50px;    
        }
        
        .updateProgressMessage
        {
            margin:3px; 
            font-family:Trebuchet MS; 
            font-size:small; 
            vertical-align: middle;
        }        
                
        .modalBox2 {
	 background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: Navy;
	padding: 2px;
}

